*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
 }


html{
	font-family: 'proxima-nova',Helvetica,'HelveticaRegular',Arial,'sans-serif';
	font-weight: normal;
}

body{
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	overflow-x: hidden;
}

/* index */
.bg_image{
	position: absolute;
	left: -540px;
	top: 45px;
	overflow: hidden;
	z-index: -2;
}

.img_bg_overlay{
	position: absolute;
	height:575px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}



.page_header{
	position: relative;
	width:100%;
	clear:both;
}

.page_header .logo{
	position: relative;
	float: left;
}

.page_header .upper{
	height: 40px;
	width: 100%;
}

.page_header ul{
	display: block;
	margin: 0 auto;
	width: 960px;
	list-style-type: none;
}

.page_header ul li{
	float: left;
}

.page_header .upper ul{
	font-size: 13px;
	color: rgb(170, 170, 170);
}

.page_header .upper ul li{
	line-height: 20px;
	padding: 10px;
}

.page_header .upper .live_chat{
	color: rgb(170, 170, 170);
	vertical-align: top;
}

.page_header .upper .live_chat div{
	font-family: "ICONICTYPEFACEICONSRegular";
	font-size: 20px;
	margin-right: 5px;
	float: left;
}

.page_header .my_bag a{
	color: rgb(255, 255, 255)
}

.page_header .upper .au span{
	background: url("../images/icons-header-mast.gif") -20px -2px;
	padding: 0 9px;
}

.page_header .upper .nz span{
	background: url("../images/icons-header-mast.gif") -39px -2px;
	padding: 0 9px;
}

.page_header .upper .login{
	color: rgb(255, 255, 255);
	padding-left: 100px;
}

.page_header .upper .login span{
	font-size: 5px;
	padding-left: 4px;
	vertical-align: middle;
}

.page_header .upper .wishlist{
	color: rgb(255, 255, 255);
}

.page_header .upper .my_bag{
	color: rgb(255, 255, 255);
	vertical-align: middle;
}

.page_header .upper .my_bag div{
	font-family: "ICONICTYPEFACEICONSRegular";
	font-size: 20px;
	margin-right: 5px;
	float: left;
}

.page_header .lower{
	height: 128px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	padding-top: 17px;
}

.page_header .lower li{
	font-size: 16px;
	font-family: 'ICONICTYPEFACERegular','sans-serif';
	color: rgb(170, 170, 170);
}

.page_header .lower .search{
	background-color: rgb(255, 255, 255);
	height: 38px;
	width: 380px;
	margin-left: 20px;
}

.page_header .lower .search input[type=text]{
	width: 340px;
	height: 100%;
	border: 0px;
	padding-left: 5px;
	color: rgb(68, 68, 68);
}

.page_header .lower .search input[type=image]{
	position: relative;
	top: 7px;
}


.page_header .lower .demog li{
	font-size:26px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	height: 46px;
	line-height: 46px;
	margin-right: 2px;
	padding: 0 10px;
	margin-top: 27px;
}

.page_header .lower .demog li span{
	font-size: 10px;
	vertical-align: middle;
	margin-right: 2px;
}

.page_header .lower .demog .men{
	color: rgb(68, 68, 68);
	background-color: rgb(255, 255, 255);
}

.center_column{
	margin: 0 auto;
	width: 960px;
}

.free_overnight{
	width: 160px;
	height: 38px;
	margin-right: 10px;
}

.free_overnight div{
	float: left;
	width: 44px;
	height: 28px;
	background:url("../images/usps-header.png") -53px 0px;
	margin-right: 8px;
	margin-left: 10px;
	margin-top: 4px;
}

.free_returns{
	height: 38px;
	width: 105px;
	margin-right: 20px;
}

.free_returns div{
	float: left;
	width: 23px;
	height: 28px;
	background:url("../images/usps-header.png") -28px 0px;
	margin-right: 8px;
	margin-top: 4px;
}

.delivery{
	height: 38px;
	width: 120px;
}

.delivery div{
	float: left;
	width: 28px;
	height: 28px;
	background:url("../images/usps-header.png") 0px 0px;
	margin-right: 8px;
	margin-top: 4px;
}

.main_section{
	margin: 0 auto;
	width: 960px;
	font-weight: normal;
}

.main_section header ul{
	list-style-type: none;
	margin-top: 20px;
	padding-left: 130px;
}

.main_section header ul li{
	font-size: 11px;
	color: rgb(106, 106, 106);
	border-radius: 2px;
	background-color: rgb(246, 246, 246);
	padding: 3px;
	float: left;
}

.main_section header ul .home{
	margin-right: 2px;
	background-color: rgb(160, 160, 160);

}

.main_section header h1{
	font-size: 25px;
	color: rgb(255, 255, 255);
	clear:left;
	padding-top: 15px;
	height: 35px;
	font-weight: normal;
}

.main_section .item_types{
	display: block;
	list-style-type: none;
	color: rgb(68, 68, 68);
	font-size: 13px;
	font-weight: normal;
	background-color: rgb(255, 255, 255);
	float: left;
	padding: 10px;
	margin: 0px;
	-moz-box-shadow: -6px 0px 8px -5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -6px 0px 8px -5px rgba(0, 0, 0, 0.5);
	box-shadow: -6px 0px 8px -5px rgba(0, 0, 0, 0.5);
	width: 160px;
	clear: left;
	margin-top: -50px;
	padding-top: 50px;
}

.main_section .item_types ul{
	list-style-type: none;
	padding-left: 20px;
}

.main_section .item_types li{
	text-align: left;
	line-height: 30px;
}

.main_section .item_types > li:first-child{
	border-bottom: 1px solid rgb(0, 0, 0);
}

.main_section .products{
	background-color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight: normal;
	list-style-type: none;
	float: left;
	width: 800px;
	margin: 0px;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 0px;
	-moz-box-shadow: -1px -7px 8px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -1px -7px 8px 3px rgba(0, 0, 0, 0.2);
	box-shadow: -1px -7px 8px 3px rgba(0, 0, 0, 0.2);
	margin-top: -24px;
}

.main_section .products li{
	position: relative;
	float: left;
	width: 25%;
	background-color: rgb(255, 255, 255);
	margin: 20px;
	text-align: center;
	-webkit-box-shadow: 6px 9px 10px -9px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 9px 10px -9px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 9px 10px -9px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.main_section .products li img{
	margin: 0 auto;
}

.main_section .products .price{
	font-weight: bold;
}

.page_footer{
	margin-top: 20px;
	display: block;
	clear: left;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgb(255, 255, 255);
	font-size: 14px;
	width: 100%;
}

.page_footer div{
	width: 960px;
	margin: 0 auto;
	line-height: 50px;
}

.page_footer img{
	vertical-align: middle;

}

.page_footer .roundRec{
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
}

.page_footer .left5px{
	margin-left: 5px;
}

.page_footer .right30px{
	margin-right: 30px;
}

.catalog_body{
	background-color: rgb(249, 249, 249);
}

.catalog_main_section{
	width: 960px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(205, 205, 205);
}

.catalog_main_section header ul{
	list-style-type: none;
	clear: both;
	padding: 10px 0px 0px 10px;
}

.catalog_main_section ul li{
	float: left;
	font-family: "ICONICTYPEFACERegular", "sans-serif";
	padding-right: 6px;
}

.catalog_main_section .size_info div{
	padding-bottom: 5px;
	margin-top: 50px;
	clear: both;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.catalog_main_section .size_info ul{
	list-style-type: none;
}

.catalog_main_section .size_info ul li{
	border: 1px solid gray;
	margin-left: 10px;
	width: 40px;
	line-height: 30px;
	text-align: center;
	padding: 0px;
}

.highlight{
	font-family: ICONICTYPEFACERegular, sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	padding: 5px 3px;
}

.catalog_main_section .size_guide{
	font-size: 12px;
	margin-left: 210px;
}

.catalog_main_section .first_to_review{
	font-size: 20px;
}

.float_left{
	float: left;
}

.catalog_detail{
	border: 1px solid gray;
	margin-top: 20px;
	padding: 10px;
	font-size: 13px;
}

.catalog_detail .image_showcase img{
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 8px 7px 5px -4px rgba(0, 0, 0, 0.5);
}

.catalog_detail .tabbed_detail{
	clear: both;
}

.catalog_detail .product_info{
	width: 400px;
	margin-left: 15px;
	margin-right: 10px;
	
}

.catalog_detail .choose_your_size{
	font-size: 18px;
	vertical-align: middle;
}

.catalog_detail .product_info .brand{
	font-weight: bold;
	font-size: 30px;
}

.catalog_detail .product_info .name{
	font-size: 30px;
	margin-left: 10px;
}

.catalog_detail .product_info .brand_logo_container{
	width: 100%;
}

.catalog_detail .product_info .brand_logo_container img{
	margin: 0 auto;
}

.catalog_detail .price_info{
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 4px;
}

.catalog_detail .price_info span{
	font-size: 16px;
}

.catalog_detail .price_info .display{
	font-family: ICONICTYPEFACERegular, sans-serif;
	font-size: 32px;
	margin-left: 10px;
}

.catalog_detail .price_info .display span{
	font-size: 32px;
	text-align: right;

}

/*.catalog_detail .price_info .large_button{*/
.large_button{
	font-family: ICONICTYPEFACERegular, sans-serif;
	background-color: rgb(250, 156, 43);
	border-radius: 4px;
	box-shadow: rgba(255, 255, 255, 0.329412) 0px -1px 50px 0px inset, 
	rgb(255, 64, 0) 0px -5px 20px -2px inset, 
	rgba(255, 255, 255, 0.0980392) 0px 0px 5px 0px inset;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: ICONICTYPEFACERegular, sans-serif;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	padding: 12px 25px 12px 25px;
}

.tabbed_detail{
	clear:both;
	padding-top: 10px;
}

.tabbed_detail ul{
	list-style-type: none;
	padding: 0px;
}

.tabbed_detail .panel{
	clear:both;
	font-size: 14px;
	padding: 10px;
	border: 1px solid rgb(221, 221, 221);
	width: 600px;
	margin-top: -1px;
}

.tabbed_detail ul li{
	font-family: proxima-nova, Helvetica, HelveticaRegular, Arial, sans-serif;
	font-size: 16px;
	padding: 8px 12px 8px 12px;
	border-top: 1px solid rgb(221, 221, 221);
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 2px;
	cursor: pointer;
}

.tabbed_detail .panel table{
	margin-top: 10px;
}

.tabbed_detail .panel table tr:nth-child(odd){
	background-color: rgb(249, 249, 249);
}

.tabbed_detail .panel table tr td{
	padding: 5px 10px 5px 10px;
	line-height: 18px;
	
}

.tabbed_detail .panel table tr td:first-child{
	width: 200px;
}

.tabbed_detail .brand_info_panel{
	display: none;
}

.tabbed_detail .reviews_panel{
	font-weight: bold;
	display: none;
}

.tabbed_detail .reviews_panel .reviews_name {

}

.tabbed_detail .reviews_panel .reviews_brand{

}

.tabbed_detail .reviews_panel .first_to_review{
	font-weight: normal;
	margin-top: 20px;
}

.selected_tab{
	background-color: rgb(250, 156, 43);
	color: rgb(255, 255, 255);
}

.shopping_main_section{
	width: 960px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
}

.shopping_main_section header{
	font-family: ICONICTYPEFACERegular, sans-serif;
	font-size: 32px;
	color: rgb(0, 0, 0);
	box-shadow: -3px 7px 15px -11px rgba(0, 0, 0, 0.5);
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.shopping_main_section .table_items{
	display:block;
	clear: both;
	border-collapse: collapse;
}

.shopping_main_section .table_items tbody{
	border: 1px solid rgb(23, 176, 238);
}

.shopping_main_section .table_items tbody select{
	margin-left: 10px;
}

.shopping_main_section .table_items tr th{
	text-align: center;
	font-weight: bold;
color: rgb(23, 176, 238);
font-size: 18px;
}

.shopping_main_section .table_items td{
	text-align: left;
}

.shopping_main_section .table_items th, tr{
	font-weight: normal;
	font-size: 13px;
	line-height: 40px;
}

.shopping_main_section .table_items input[type=button]{
	font-family: proxima-nova, Helvetica, HelveticaRegular, Arial, sans-serif;
	border: 1px solid red;
	color: rgb(255, 255, 255);
	background-color: rgb(242, 123, 147);
	font-size: 10px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 4px;
}

.shopping_main_section .table_items tr:nth-child(even){
	background-color: rgba(159, 202, 242, 0.3);
}

.shopping_main_section .table_items td:nth-child(1){
	width: 260px;
}

.shopping_main_section .table_items td:nth-child(2){
	width: 230px;
	text-align: center;
}

.shopping_main_section .table_items td:nth-child(3){
	width: 200px;
	text-align: center;
}

.shopping_main_section .table_items td:nth-child(4){
	text-align: right;
	width: 246px;
	font-weight: bold;
	font-size: 16px;
	padding-right: 10px;
}

.shopping_main_section .table_items td:nth-child(odd){
	background-color: rgb(159, 202, 242);

}

.shopping_main_section .questions_about_order{
	border: 1px solid rgb(231, 231, 231);
	padding: 15px;
	font-size: 13px;
	line-height: 13px;
	clear: both;
}

.shopping_main_section .questions_about_order div:first-child{
	font-size: 23px;
	line-height: 23px;
	margin-bottom: 10px;
}

.shopping_main_section .payment_methods{
	background-color: rgb(247, 247, 247);
	border: 1px solid rgb(231, 231, 231);
	list-style-type: none;
	float: left;
}

.shopping_main_section .payment_methods li{
	float: left;
	padding: 20px;
}

.shopping_main_section .payment_methods li img{
	vertical-align: top;
	margin-top: 10px;
}

.shopping_main_section .price_summary{
	list-style-type: none;
	font-size: 13px;
	line-height: 30px;
	background-color: rgb(225, 244, 229);
	padding: 10px;
	float: right;
	width: 300px;
}

.shopping_main_section .payment_processors img{
	vertical-align: middle;
}

.shopping_main_section .price_summary tr:nth-child(5){
	font-weight: bold;
	font-size: 16px;
}

.shopping_main_section .price_summary tr:nth-child(6){
	font-style: italic;
	text-align: right;
}

.shopping_main_section .price_summary td:nth-child(2){
	text-align: right;
}


.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 20;
	display:none;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgb(0,0,0);
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
}
	
.overlay div{
	width: 50%;
	height: 40%;
	margin: 10% auto;
	background-color: white;
	padding: 2%;
	text-align: center;
}

.shopping_bag .payment_overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 25;
	top: 0px;
	left: 0px;
	display: none;
}

.shopping_bag .payment_overlay_content{
	width: 704px;
	margin: 0 auto;
}

.shopping_bag .checkout{
	background-color: rgb(249, 249,249);
	font-family: proxima-nova, Helvetica, HelveticaRegular, Arial, sans-serif;
	font-size: 13px;
	box-shadow: 1px 1px 1px 1px rgb(225,225,225);
	margin-top: 5px;
	padding: 50px;
}

.shopping_bag .checkout input{
	width: 300px;
}

.shopping_bag .checkout input[type=text], select{
 	font-family: proxima-nova, Helvetica, HelveticaRegular, Arial, sans-serif;
	font-size: 13px;
	margin-top: 10px;
	padding: 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);

 }
 
.shopping_bag .checkout input[type=text]{
	color: rgba(0, 0, 0, 0.5);
}
 
.shopping_bag .checkout h1{
	display: block;
	font-family: ICONICTYPEFACERegular, sans-serif;

	font-weight: normal;
	font-size: 60px;
	margin-top: 97px;
 }
 
.shopping_bag .checkout h2{
	display: block;
	font-family: ICONICTYPEFACERegular, sans-serif;
	font-size: 30px;
	margin-top: -20px;
 }
 
.shopping_bag .checkout .horizontal_bar{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 30px;
	position: absolute;
	margin-top: 60px;
 }
 
.shopping_bag .checkout .info{
	margin-top: 30px;
 }
 
.shopping_bag .checkout .cc_number span{
	padding: 15px 25px;
	margin: 0px 2px;
  }
 
.shopping_bag .checkout .cc_number .mastercard{
	background: url("../images/cart-checkout-sprite-2.png") 0px -348px;
	margin-left: 20px;
 }
 
.shopping_bag .checkout .cc_number .visa{
	background: url("../images/cart-checkout-sprite-2.png") -59px -348px;
}
 
.shopping_bag .checkout .security_code div:nth-child(2){
	width: 320px;
	float: left;
 }
 
.shopping_bag .checkout .security_code .ccv{
 	background: url("../images/cart-checkout-sprite-2.png") 0px -398px;
	padding: 17px 37px;
	float: left;
	display: block;
	margin-left: 10px;

 }
 
.shopping_bag .checkout .security_code input[type=text]{
	clear: left;
	display: block;
	float: left;
	width: 120px;
	margin-top: -8px;
}
  
.shopping_bag .checkout .cc_number .american_express{
   background: url("../images/cart-checkout-sprite-2.png") -120px -348px;
}
 
.shopping_bag .checkout .continue{
	clear: left;
}

.shopping_bag .checkout .status{
	color: red;
	font-weight: bold;
}

.shopping_bag .ccv_status{
	clear: left;
}